.button {
  border: 3px solid #877254;
  background-color: #746B50;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 500;
  color: #E0E0E0;
  transition: all 0.3s ease;
  border-radius: 25px;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  max-width: 90%;
}

